body, h5 {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background-color: #FFF0F5;
}

.features {
    margin: 0;
    background: #FFF0F5;
    padding: 50px 0 10px;
}

#features-heading.features-heading.section-heading {
    color: #BA55D3;
}

#portfolio-heading.portfolio-heading.section-heading {
    color: #BA55D3;
}

.section-heading {
    position: relative;
    margin: 0 0 40px;
    padding: 0 0 30px;
    text-align: center;
    line-height: 1.2;
    font-size: 2.5em;
    text-transform: uppercase;
}

.section-heading:before {
    content: ' ';
    position: absolute;
    background: #bbb;
    bottom: 0;
    left: 50%;
    margin-left: -50px;
    width: 100px;
    height: 1px;
}

body, div, h3 {
    display: block;
    background: transparent;
    border: 0;
}

.view {
    background: no-repeat center center;
    background-size: cover;
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #20B2AA;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #20B2AA;
    }
}

#cor {
    background-color: #20B2AA;
    position: relative;
}

.footer {
    background-color: #20B2AA;
}

.row, body {
    display: block;
}

#tagline.tagline.dark {
    background-color: #BA55D3;
    color: #ffffff;
    font-size: 26px;
}

.tagline {
    padding: 70px 0;
    background: rgba(0, 0, 0, 0.4);
    font-size: 1.5em;
    text-align: center;
}

body {
    font-family: 'Source Sans Pro', Arial, Helvetica, sans-serif;
    background: #FFF0F5;
    color: #99a;
    font-size: 1em;
    line-height: 1.6;
}

body .dark h3 {
    color: #eee;
}


  
.map-container-6 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-6 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

#mapa {
    width: 800px;
    height: 300px;
    clear: both;
    float: left;
}

/*carrinho*/

.carrinho {
    width: 100%;
    border-spacing: 0;
}

.carrinho th, .carrinho td {
    padding: 10px 0;
    border: 1px solid hsl(0, 0%, 50%);
}

.carrinho tr td :first-child {
    padding-left: 20px;
}

.carrinho tr :not(:last-child) td:nth-child(2), .carrinho tr td:nth-child(4) {
    text-align: right;
    padding-right: 10px;
}

.carrinho tr:not(:last-child) td:nth-child(3) {
    text-align: center;
}

.carrinho tr:last-child td:nth-child(2), .carrinho tr:last-child td:last-child {
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

.image {
    position: relative;
    width: 100%;
    /* for IE 6 */
}

h2 {
    position: absolute;
    top: 350px;
    left: 0;
    width: 100%;
}

h2 span {
    color: white;
    font: bold 24px/45px Helvetica, Sans-Serif;
    letter-spacing: -1px;
    background: rgb(0, 0, 0);
    /* fallback color */
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
}

.serviceBox {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

.serviceBox .service-icon {
    color: #BA55D3;
    font-size: 60px;
    line-height: 120px;
    height: 120px;
    width: 120px;
    margin: 0 auto 20px;
    -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.serviceBox .description {
    color: #555;
    font-size: 15px;
    line-height: 25px;
    padding: 0 15px;
}

.serviceBox.red .service-icon {
    color: #e74c3c;
}

.serviceBox.red .title {
    background: #e74c3c;
}

.serviceBox.purple .service-icon {
    color: #5f27cd;
}

.serviceBox.purple .title {
    background: #5f27cd;
}

.serviceBox.green .service-icon {
    color: #2cb680;
}

.serviceBox.green .title {
    background: #2cb680;
}

@media only screen and (max-width:990px) {
    .serviceBox {
        margin: 0 0 30px;
    }
}

.demo {
    background-color: #e7e7e7;
}

.main-timeline {
    font-family: 'Titillium Web', sans-serif;
    padding: 50px 0 0;
    position: relative;
}

.main-timeline:before {
    content: '';
    background-color: #fff;
    height: 100%;
    width: 60%;
    box-shadow: 0 0 10px #333;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 10px;
}

.main-timeline .timeline {
    margin: -42px 0 0 0;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: '';
    border: 20px solid #B160BD;
    height: 90%;
    width: 50%;
    border-radius: 100px;
    position: absolute;
    left: 12%;
    top: 22px;
    z-index: -1;
}

.main-timeline .timeline-content {
    background-color: #fff;
    text-align: center;
    width: 60%;
    padding: 10px 15px 60px;
    margin: 0 auto;
    display: block;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-year {
    color: #B160BD;
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 10px;
}

.main-timeline .title {
    color: #333;
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0;
}

.main-timeline .title:after {
    content: '';
    background-color: #B160BD;
    height: 3px;
    width: 60px;
    margin: 12px auto;
    display: block;
}

.main-timeline .description {
    color: #333;
    font-size: 14px;
    letter-spacing: 1px;
}

.main-timeline .timeline:nth-child(even):before {
    left: auto;
    right: 12%;
}

.main-timeline .timeline:nth-child(4n+2):before {
    border-color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-year {
    color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+2) .title:after {
    background-color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+3):before {
    border-color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-year {
    color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+3) .title:after {
    background-color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+4):before {
    border-color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-year {
    color: #B160BD;
}

.main-timeline .timeline:nth-child(4n+4) .title:after {
    background-color: #B160BD;
}

@media only screen and (max-width:990px) {
    .main-timeline .timeline:before {
        left: 5%;
        border-radius: 120px;
    }
    .main-timeline .timeline:nth-child(even):before {
        right: 5%;
    }
}

@media only screen and (max-width:576px) {
    .main-timeline:before {
        width: 85%;
    }
    .main-timeline .timeline {
        margin: -38px 0 0 0;
    }
    .main-timeline .timeline:before {
        border-width: 8px;
        border-radius: 0;
        left: 0;
    }
    .main-timeline .timeline:nth-child(even):before {
        right: 0;
    }
    .main-timeline .timeline-content {
        width: 85%;
    }
    .main-timeline .title {
        font-size: 18px;
    }
    * {
        font-family: Arial;
        font-size: 12px;
    }
    h2 {
        font-size: 18px;
        background-color: #ddd;
        padding: 5px;
    }
    table {
        border: 1px solid;
        padding: 5px;
    }
    table th {
        background-color: #ddd;
        padding: 5px;
    }
    table td {
        padding: 5px;
        background-color: #fff;
        text-align: center;
    }
    table td input {
        text-align: center;
        padding: 3px;
    }
    * {
        font-family: Arial;
        font-size: 12px;
    }
    h2 {
        font-size: 18px;
        background-color: #ddd;
        padding: 5px;
    }
    table {
        border: 1px solid;
        padding: 5px;
    }
    table th {
        background-color: #ddd;
    }
    table td {
        padding: 5px;
        background-color: #fff;
        text-align: center;
    }
    table td input {
        text-align: center;
        padding: 3px;
    }
   
}